.blog-account-main {
    height: auto;
    min-height: 41vh;
    width: 100%;
}
.blog-account-profile-background {
    height: 20vh;
    width: 100%;
    background-color: #D0D0D0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-account-profile-img {
    height: 125px;
    width: 125px;
    border-radius: 100px;
}
.blog-account-profile-img > img {
    height: 125px;
    width: 125px;
    border-radius: 100px;
    object-fit: contain;
}
.blog-account-username {
    height: auto;
    width: 60%;
    padding: 0 20%;
    text-align: center;
}
.blog-account-username > p {
    font-size: 1.45rem;
    margin: 2.5vh 0 2vh 0;
    color: black; /* change to var(--main-color); */
}
.blog-account-bio {
    height: auto;
    width: 60%;
    padding: 0 20%;
    text-align: center;
}
.blog-account-bio > p {
    font-size: 1.32rem;
    margin: 1vh 0;
    color: black; /* change to var(--main-color); */
}
.blog-account-posts-title {
    height: auto;
    width: 60%;
    margin: 0 20%;
    text-align: left;
}
.blog-account-posts-title > p {
    font-size: 1.2rem;
    margin: 4vh 0 2vh 0;
    color: rgba(0, 0, 0, 0.6); /* change to var(--main-color); */
}
.blog-account-posts {
    height: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
    grid-row-gap: 4rem;
    grid-column-gap: 1rem;
    margin: 0 10%;
}
.blog-account-post {
    height: auto;
    /* min-height: 10vh; */
    width: 275px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-self: center;
    padding: 1rem;
    background-color: #F0F0F0;
}
.blog-account-post-img {
    height: 275px;
    width: 275px;
    /* background-color: white; */
}
.blog-account-post-date {
    height: auto;
    width: 100%;
    font-size: 1rem;
    margin: 0.8vh 0;
    color: var(--main-color);
}
.blog-account-post-title {
    height: auto;
    width: 100%;
    font-size: 1.25rem;
    margin: 0.3vh 0;
    color: var(--mini-blog-title-color);
}
.blog-account-post-description {
    height: auto;
    width: 100%;
    font-size: 1rem;
    margin-top: 0.7vh;
    color: var(--main-color);
}
/* Desktop Breakpoint */
@media (max-width: 1440px) {
    .blog-account-posts {
        grid-row-gap: 3rem;
    }
    .blog-account-post {
        height: auto; 
        width: 225px;
    }
    .blog-account-post-img {
        height: 225px;
        width: 225px;
    }
}
@media (max-width: 1280px) {
    .blog-account-posts {
        grid-column-gap: 0.8rem;
        grid-row-gap: 3rem;
    }
    .blog-account-post {
        height: auto; 
        width: 190px;
    }
    .blog-account-post-img {
        height: 190px;
        width: 190px;
    }
}
@media (max-width: 1070px) {
    .blog-account-posts {
        grid-row-gap: 2rem;
    }
}
/* Tablet Breakpoint */
@media (max-width: 1024px) {
    .blog-account-posts {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 2.5rem;
        grid-column-gap: 0.8rem;
    }
    .blog-account-post {
        height: auto; 
        width: 225px;
    }
    .blog-account-post-img {
        height: 225px;
        width: 225px;
    }
}
/* Smartphone Breakpoint */
@media (max-width: 768px) {
    .blog-account-posts-title {
        text-align: center;
    }
    .blog-account-posts {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 2.2rem;
    }
    .blog-account-post {
        height: auto; 
        width: 300px;
    }
    .blog-account-post-img {
        height: 300px;
        width: 300px;
    }
}

.blog-account-post-title{
    margin: 7px 0;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--mini-blog-title-color);
    word-wrap: break-word;
    
    overflow: hidden;
    max-height:50px;
}
.blog-account-post-description{
    margin: 6px 0 0 0;
    font-size: 1.2rem;
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
    max-height: 45px;
}

/* white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 400px;
max-height: 45px; */