
.image-section-main {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5vh 0;
}
.image-section {
    height: auto;
    width: 99%;
    display: grid;
    grid-template-areas: 
    "a a a b b"
    "c c d d d";
    grid-gap: 5px;
}
.image-section > img {
    height: 42vh;
    width: 100%;
    display: inline-block;
    justify-self: center;
    background-color: var(--background-color-image);
}
.image-top-left {
    grid-area: a;
    background-image: url('../Images/Food1.png');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 60px;
    font-weight: bolder;
    text-align: end;
    
    
    

}
.image-top-right {
    grid-area: b;
    object-fit: cover;

}
.image-bottom-left {
    grid-area: c;
    object-fit: cover;

}
.image-bottom-right {
    grid-area: d;
    background-image: url('../Images/food3.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 60px;
    font-weight: bolder;
    transform: scaleX(-1);
   

}
.text1{
    margin-top: 50px;
    margin-right: 50px;
}
.text2{
    transform: scaleX(-1);
    margin-top: 80px;
    margin-right: 50px;
}